<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="mx-3">
    <i class="fa fa-bolt fa-3x text-light" aria-hidden="true"> </i>
  </div>
  <a class="navbar-brand" href="#">
    <h4> Reactive forms </h4>
    <h6 class="d-none d-md-block"> Plural Sight course (Deborah Kurata) </h6>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Modulos
        </a>
        <div class="dropdown-menu  dropdown-menu-right dropdown-menu-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/tdf-customers" routerLinkActive="active">
            1.- Template Drive Form </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/rf-customers" routerLinkActive="active">
            2.- Reactive Form </a>
          <a class="dropdown-item" routerLink="/rf-validators" routerLinkActive="active">
            3.- Reactive Form with validators</a>
          <a class="dropdown-item" routerLink="/rf-value-changes" routerLinkActive="active">
            4.- Value changes</a>
          <a class="dropdown-item" routerLink="/rf-array" routerLinkActive="active">
            5.- Form Array</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Otros
        </a>
        <div class="dropdown-menu  dropdown-menu-right dropdown-menu-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/click-outside" routerLinkActive="active">
            Otro 01 </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/combo-box" routerLinkActive="active">
            Otro N </a>
        </div>
      </li>

    </ul>
  </div>
</nav>
