<div class="container card jumbotron">

  <div class="row">
    <div class="col-3">
      <div class="row align-items-center">
        <img src="assets/images/forms.svg" alt="Logo" width="320" height="320">
      </div>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-1">
          <div class="mx-3">
            <i class="fa fa-bolt fa-5x" aria-hidden="true"> </i>
          </div>
        </div>
        <div class="col-10">
          <h1 class="display-5">Angular Reactive forms!</h1>
          <p class="lead">Plural Sight course (Deborah Jurata)</p>
          <hr class="my-4">
          <p>Módulos.</p>
        </div>
      </div>
    </div>
  </div>

</div>
